# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/

*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Other common stuff
*.swp
programs/codeFiles/lib/__pycache__/snowlights.cpython-312.pyc
programs/codeFiles/8th/Template.py
